/* @import url("https://fonts.googleapis.com/css2?family=Itim&display=swap"); */

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #84583f;
  --secondary-color: #dc9f9e;
  --bg-color: #fdf9fd;
  --footer-bg-color: #13252b;
  --yellow-color: #fff07c;
  --green-color: #46af96;
  --text-color: #1a0a00;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mainSection {
  height: 100%;
  background: url(assets/pexels-elle-hughes-4258192.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: clamp(1.1rem, 2.5vw, 2rem);
  text-decoration: none;
  color: var(--bg-color);
  font-weight: 700;
  z-index: 1;
}

/* .navbar {
    position: absolute;
    width: 100%; 
    top: 100%;
    left: 0;
    height: 0;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s ease;
} */

.navbar,
.navbar a {
  transition: 0.3s ease;
}

#check:checked ~ .navbar {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 13.7rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transform: translateY(-10px);
    transition: .3s ease; 
} */

.navbar a {
  display: none;
}

#check:checked ~ .navbar a {
  display: block;
  font-size: 1.1rem;
  margin: 1.5rem 0;
  text-align: center;
  text-decoration: none;
  color: var(--bg-color);
  transform: translateY(-10px);
  transition: 0.3s ease;
}

#check {
  display: none;
}

.menuIconLabel {
  display: inline-flex;
  position: absolute;
  right: 5%;
  font-size: clamp(1.6rem, 2.5vw, 2.8rem);
  color: var(--bg-color);
  cursor: pointer;
}

#check:checked ~ .menuIconLabel #menuIcon {
  display: none;
}

#check:checked ~ .menuIconLabel #closeIcon {
  display: block;
}

.menuIconLabel #closeIcon {
  display: none;
}

h1 {
  position: relative;
  top: 37%;
  padding: 1rem;
  text-align: center;
  color: var(--bg-color);
  font-size: clamp(2.5rem, 2.5vw, 4rem);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.title,
.ourServicesTitle {
  color: var(--footer-bg-color);
  font-size: clamp(1.7rem, 3.5vw, 3.7rem);
  text-align: center;
}

.title {
  margin: 5.5rem 0;
}

.ourServicesTitle {
  margin-top: 5.5rem;
  margin-bottom: 6.5rem;
}

.servicesDiv {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1rem auto;
}

.servicesCard {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  border: 1px solid var(--footer-bg-color);
  border-radius: 15px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  /* overflow: hidden; */
  transition: 0.5s;
  margin-bottom: 5rem;
}

.servicesCard:hover {
  height: 300px;
}

.servicesCard .imgDiv {
  position: absolute;
  top: -31%;
  left: 50%;
  width: 40%;
  height: 6rem;
  padding: 0.8rem;
  border: 1px solid var(--footer-bg-color);
  border-radius: 20px;
  background-color: var(--bg-color);
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesCard:hover .imgDiv {
  width: 50%;
  height: 7rem;
  top: 20px;
}

.servicesCard .imgDiv .servicesImg {
  position: absolute;
  width: calc(100% - 1.6rem);
  height: calc(100% - 1.6rem);
  z-index: 1;
  opacity: 0.7;
  transition: 0.5s;
}

.servicesCard:hover .imgDiv .servicesImg {
  opacity: 1;
}

.servicesCard .servicesContent {
  position: absolute;
  width: calc(100% - 2rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.servicesCard .servicesContent .details {
  /* padding: 1rem; */
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(45px);
}

/* .servicesCard:hover .servicesContent .details {
  transform: translateY(-30px);
} */

/* .servicesImg {
  width: 47%;
  margin-bottom: 1rem;
} */

.servicesCard h3 {
  font-size: 1.5rem;
  color: var(--footer-bg-color);
  margin-bottom: 1rem;
}

.servicesCard p {
  /* color: var(--text-color); */
  opacity: 0;
  transition: 0.5s;
}

.servicesCard:hover p {
  opacity: 1;
}

/* angle1 division style*/
.angle {
  position: relative;
}

.angle::after {
  content: "";
  position: absolute;
}

.angle1 {
  background-color: var(--secondary-color);
}

.angle1,
.angle1::after {
  width: 100%;
  height: 80px;
}

.angle1::after {
  background-color: var(--bg-color);
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

/* angle2 division style*/

.angle2 {
  background-color: var(--bg-color);
}

.angle2,
.angle2::after {
  width: 100%;
  height: 40px;
}

.angle2::after {
  background-color: var(--secondary-color);
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
  clip-path: polygon(0 0, 70% 0, 100% 0, 100% 100%, 70% 0, 0 100%);
}

/* why Us Section  */
#whyUsSection {
  background: var(--secondary-color);
  padding: 0 2rem 7rem 2rem;
}

.subtitle {
  font-size: 2rem;
  color: var(--bg-color);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.whyUsDiv p {
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
  margin-bottom: 1rem;
}

#wow {
  color: var(--bg-color);
  font-weight: 600;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.features li {
  width: 100%;
  list-style-type: none;
  font-size: larger;
  margin-bottom: 1rem;
}

.features li:last-child {
  margin-bottom: 0;
}

.features img {
  width: 22px;
  margin-right: 0.5rem;
}

.features i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.aboutUsDiv,
.contactUsDiv {
  width: 80%;
  margin: auto;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.contactIcons {
  margin-top: 1rem;
}

.contactIcons li {
  list-style-type: none;
}

.contactIcons i {
  color: var(--secondary-color);
}

.contactIcons a {
  color: var(--text-color);
  text-decoration: none;
}

.footerSection {
  background-color: var(--footer-bg-color);
  margin-top: 3rem;
  padding: 2rem 0;
  color: var(--bg-color);
  text-align: center;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.socialIcons a {
  color: var(--bg-color);
  font-size: 1.5rem;
}

@media screen and (min-width: 569px) {
  .servicesDiv {
    width: 90%;
  }
  .servicesCard {
    width: 47%;
  }
  .angle1,
  .angle1::after {
    height: 120px;
  }
  .features li {
    width: 49%;
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    top: 0;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-right: 2rem;
  }

  .menuIconLabel {
    display: none;
  }

  .servicesCard {
    height: 200px;
  }
}

@media screen and (min-width: 969px) {
  .header {
    padding: 1.3rem 3%;
  }

  .title {
    margin: 5rem 0;
  }

  .ourServicesTitle {
    margin-bottom: 8.5rem;
  }
  .servicesCard {
    width: 28%;
  }

  .servicesCard:hover {
    height: 400px;
  }

  .servicesCard .imgDiv {
    height: 7rem;
  }

  .servicesCard:hover .imgDiv {
    height: 8rem;
  }
  .angle1,
  .angle1::after {
    height: 160px;
  }

  .angle2,
  .angle2::after {
    height: 80px;
  }
}
